<!DOCTYPE html>
<html>
<head>
    <title>{{ section.capitalize() }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>{{ section.capitalize() }}</h1>
        <form method="POST" action="{{ url_for('assessment', section=section) }}">
            {% for boundary, criteria in grading_criteria.items() %}
                <h3>{{ boundary }}</h3>
                {% for criterion in criteria %}
                    <label>
                        <input type="checkbox" id="{{ criterion }}" name="{{ criterion }}" value="1">
                        <span id="span-{{ criterion }}">{{ boundary }}: {{ criterion }}</span>
                    </label>
                    <button class="btn waves-effect waves-light" type="button" onclick="copyToClipboard('span-{{ criterion }}')">Copy</button>
                    <!-- <button class="btn waves-effect waves-light" type="button" onclick="copyToClipboard('{{ criterion }}')">Copy</button>
                    <span>Score band: {{ boundary }}</span> -->
                    <br>
                {% endfor %}
            {% endfor %}
        
            <br>
            <label for="{{ section }}_comments">Comments:</label>
            <input type="text" id="{{ section }}_comments" name="{{ section }}_comments">
            <br><br>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
    <script>
        function copyToClipboard(elementId) {
            const text = document.getElementById(elementId).innerText;
            console.log(text)
            console.log(elementId)

            const textarea = document.createElement('textarea');
            textarea.value = text;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);
            M.toast({html: 'Copied to clipboard'});
        }
        </script>
        
</body>
</html>
