<!doctype html>
<html>
  <head>
    <title>Assessment Summary</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Assessment Summary</h1>
      <table class="striped">
          <thead>
            <tr>
                <th>Section</th>
                <th>Score</th>
                <th>Comments</th>
            </tr>
          </thead>
          <tbody>
            {% for section in sections %}
            <tr>
              <td>{{ section.capitalize() }}</td>
              <td>{{ session.get(section + '_score', 0) }}</td>
              <td>{{ session.get(section + '_comments', '') }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Total Score</td>
                <td>{{ session.get('total_score', 0) }}</td>
                <td></td>
            </tr>
            
          </tbody>
      </table>
    <h2>Fill out cover sheet</h2>
    <form method="POST" action="{{ url_for('fill_cover_sheet') }}">
      <label for="candidate_name">Candidate Name:</label>
      <input type="text" name="candidate_name" id="candidate_name"><br>
      <label for="candidate_number">Candidate Number:</label>
      <input type="text" name="candidate_number" id="candidate_number"><br>
      <label for="center_number">Center Number:</label>
      <input type="text" name="center_number" id="center_number" value="50507"><br>
      <label for="center_name">Center Name:</label>
      <input type="text" name="center_name" id="center_name" value="City of Bristol College"><br>
      <label for="unit_code">Unit Code:</label>
      <input type="text" name="unit_code" id="unit_code" value="H446 (03/04)"><br>
      <label for="session">Session:</label>
      <input type="text" name="session" id="session" value="June"><br>
      <label for="year">Year:</label>
      <input type="text" name="year" id="year" value="{{ current_year }}"><br>
      <label for="unit_title">Unit Title:</label>
      <input type="text" name="unit_title" id="unit_title" value="Programming Project"><br>
      <input type="submit" value="Fill Cover Sheet">
    </form>
  </body>
</html>
