{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>Get started on marking Computer Science A-level project</h1>
                <div class="card">
                    <strong>None of the information here is collected or stored on a server, it is only local to you</strong>
                    <p>Just tick the criteria from the band you think the student achieved and then enter a comment. Then you will be taken to a summary page which adds up an estimated score and allows you to enter other student details (that are not saved on any server) and can be saved and loaded locally. You can then generate the official OCR PDF for the mark scheme.</p>
                    <div class="button-container">
                        <a href="{{ url_for('assessment', section='analysis') }}" class="start-button">Start Assessment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}